
{% load static %}

<link rel="stylesheet" href="{% static 'css/bootstrap.min.css' %}">

<!DOCTYPE html>
<html lang="en">
<head>
	<link rel="stylesheet" href="{% static 'css/blog.css' %}">
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>YTb Video Downloader</title>
<link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Varela+Round">
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
<link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
<script src="https://code.jquery.com/jquery-3.5.1.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
<style>
body {
	font-family: 'Varela Round', sans-serif;
}
.form-control {
	box-shadow: none;
	font-weight: normal;
	font-size: 13px;
}
.navbar {
	background: #fff;
	padding-left: 16px;
	padding-right: 16px;
	border-bottom: 1px solid #dfe3e8;
	border-radius: 0;
}
.nav-link img {
	border-radius: 50%;
	width: 36px;
	height: 36px;
	margin: -8px 0;
	float: left;
	margin-right: 10px;
}
.navbar .navbar-brand {
	padding-left: 0;
	font-size: 20px;
	padding-right: 50px;
}
.navbar .navbar-brand b {
	color: #33cabb;
}
.navbar .form-inline {
	display: inline-block;
}
.navbar a {
	color: #888;
	font-size: 15px;
}
.search-box {
	position: relative;
}
.search-box input {
	padding-right: 35px;
	border-color: #dfe3e8;
	border-radius: 4px !important;
	box-shadow: none
}
.search-box .input-group-text {
	min-width: 35px;
	border: none;
	background: transparent;
	position: absolute;
	right: 0;
	z-index: 9;
	padding: 7px;
	height: 100%;
}
.search-box i {
	color: #a0a5b1;
	font-size: 19px;
}
.navbar .sign-up-btn {
	min-width: 110px;
	max-height: 36px;
}
.navbar .dropdown-menu {
	color: #999;
	font-weight: normal;
	border-radius: 1px;
	border-color: #e5e5e5;
	box-shadow: 0 2px 8px rgba(0,0,0,.05);
}
.navbar a, .navbar a:active {
	color: #888;
	padding: 8px 20px;
	background: transparent;
	line-height: normal;
}
.navbar .navbar-form {
	border: none;
}
.navbar .action-form {
	width: 280px;
	padding: 20px;
	left: auto;
	right: 0;
	font-size: 14px;
}
.navbar .action-form a {
	color: #33cabb;
	padding: 0 !important;
	font-size: 14px;
}
.navbar .action-form .hint-text {
    text-align: center;
    margin-bottom: 15px;
    font-size: 13px;
}
.navbar .btn-primary, .navbar .btn-primary:active {
	color: #fff;
	background: #33cabb !important;
	border: none;
}
.navbar .btn-primary:hover, .navbar .btn-primary:focus {
	color: #fff;
	background: #31bfb1 !important;
}
.navbar .social-btn .btn, .navbar .social-btn .btn:hover {
	color: #fff;
	margin: 0;
	padding: 0 !important;
	font-size: 13px;
	border: none;
	transition: all 0.4s;
	text-align: center;
	line-height: 34px;
	width: 47%;
	text-decoration: none;
}
.navbar .social-btn .facebook-btn {
	background: #507cc0;
}
.navbar .social-btn .facebook-btn:hover {
	background: #4676bd;
}
.navbar .social-btn .twitter-btn {
	background: #64ccf1;
}
.navbar .social-btn .twitter-btn:hover {
	background: #4ec7ef;
}
.navbar .social-btn .btn i {
	margin-right: 5px;
	font-size: 16px;
	position: relative;
	top: 2px;
}
.or-seperator {
	margin-top: 32px;
	text-align: center;
	border-top: 1px solid #e0e0e0;
}
.or-seperator b {
	color: #666;
	padding: 0 8px;
	width: 30px;
	height: 30px;
	font-size: 13px;
	text-align: center;
	line-height: 26px;
	background: #fff;
	display: inline-block;
	border: 1px solid #e0e0e0;
	border-radius: 50%;
	position: relative;
	top: -15px;
	z-index: 1;
}
.navbar .action-buttons .dropdown-toggle::after {
	display: none;
}
.form-check-label input {
	position: relative;
	top: 1px;
}
@media (min-width: 1200px){
	.form-inline .input-group {
		width: 300px;
		margin-left: 30px;
	}
}
@media (max-width: 768px){
	.navbar .dropdown-menu.action-form {
		width: 100%;
		padding: 10px 15px;
		background: transparent;
		border: none;
	}
	.navbar .form-inline {
		display: block;
	}
	.navbar .input-group {
		width: 100%;
	}
}
</style>
<script>
// Prevent dropdown menu from closing when click inside the form
$(document).on("click", ".action-buttons .dropdown-menu", function(e){
	e.stopPropagation();
});
</script>



    <!-- Optional theme -->
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap-theme.min.css">

    <!-- Latest compiled and minified JavaScript -->
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>




</head>
<body >
<nav class="navbar  navbar-expand-lg navbar-light bg-primary">

     <a class="navbar-brand" href="https://www.powr.io/powr.js?platform=bootstrap">
    <img src="{% static 'mysite/images/images.jpg' %}" width="100" height="80" alt="" class="social rounded"/>
  </a>
	<a href="" class="navbar-brand font-weight-bold ">TransLoader</a>
	<button type="button" class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
		<span class="navbar-toggler-icon"></span>
	</button>
	<!-- Collection of nav links, forms, and other content for toggling -->
	<div id="navbarCollapse" class="collapse navbar-collapse justify-content-start">
		<div class="navbar-nav">
			<a href="{% url 'home' %}" class="nav-item nav-link text-light" >Home</a>
			<a href="{% url 'about' %}" class="nav-item nav-link text-light">About</a>
			<div class="nav-item dropdown">
				<a href="" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle text-light">Services</a>
				<div class="dropdown-menu">
					<a href="" class="dropdown-item">Download a translated youtube video</a>

					<a href="online" class="dropdown-item">Real-time Youtube video translation </a>
					<a href="own" class="dropdown-item">Translate your own videos</a>
                    <a href="https://cloud.google.com/translate/docs/languages" class="dropdown-item"> Supported languages</a>
                </div>
            </div>
		</div>
		<!--form class="navbar-form form-inline">
			<div class="input-group search-box">
				<input type="text" id="search" class="form-control" placeholder="Search here...">
				<div class="input-group-append">

					<span class="input-group-text">
						<i class="material-icons">&#xE8B6;</i>
					</span>
				</div>
			</div>
		</form-->







		<div class="navbar-nav ml-auto action-buttons dropdown">
			<!--button href="#" class="  btn bg-primary text-light fa fa-paypal">   Paypal</button-->
            <!--div class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle btn bg-primary text-light  mr-4 rounded login-btn  fa fa-paypal">Paypal</a>
				<div class="dropdown-menu">
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=HCQEVCUCQC2P6" class="dropdown-item">Souscription quotidien</a>
					<a href="https://www.paypal.com/cgi-bin/webscr?cmd=_s-xclick&hosted_button_id=N94T7XMEKD77S" class="dropdown-item">Abonnement mensuel</a>


                </div>
            </div-->

			<!--button href="#" class="  btn bg-primary text-light fa fa-envelope">   Contact</button-->

<div class="nav-item dropdown">

				<a href="#" data-toggle="dropdown" class="nav-link btn bg-primary text-light dropdown-toggle mr-4 rounded login-btn text-light fa fa-envelope"> Contact</a>
                <div class="dropdown-menu action-form">

					<form action="" method="POST">
                        <center>
						<b class="hint-text"> Your mail adress  </b></center>
						<div class="container-fluid form-group rounded">
							{% csrf_token %}
                            {{form1.Email}}
							<!--input type="text" class="form-control" placeholder="Enter Your mail adress" required="required"-->
						</div>
						<center><b class="hint-text"> Subject </b></center>
						<div class="container-fluid rounded">
							  {{form1.subject}}
							<!--input type="email" class="form-control width: 30" placeholder="Enter Your text" required="required"-->
						</div>
						<center><b class="hint-text"> Your message </b></center>
						<div class="container-fluid form-group rounded">
							  {{form1.message}}
							<!--input type="email" class="form-control width: 30" placeholder="Enter Your text" required="required"-->
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Send"/>

					</form>
                </div>
			</div>



			<!--div class="nav-item dropdown">

				<a href="#" data-toggle="dropdown" class="nav-link dropdown-toggle mr-4 bg-primary rounded login-btn text-light fa fa-user-circle-o">     Login</a>
                <div class="dropdown-menu action-form">

					<form action="" method="post">
							{% csrf_token %}
						<p class="hint-text">Sign in with your social media account</p>
						<div class="form-group social-btn clearfix">
							<a href="#" class="btn btn-secondary facebook-btn "><i class="fa fa-facebook"></i> Facebook</a>
							<a href="#" class="btn btn-secondary twitter-btn "><i class="fa fa-twitter"></i> Twitter</a>

									<a href="#" class="btn btn-primary google-btn float-left"><i class="fa fa-google"></i> Google</a>
						</div>
						<div class="or-seperator"><b>or</b></div>
						<div class="form-group">
							<input type="text" class="form-control" placeholder="Username" name="username" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" name="password" required="required">
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Login">
						<div class="text-center mt-2">
							<a href="{% url 'inscription' %}">Do you want to create an account ?</a>

						</div>
						{%for message in messages %}
						{{message}}
						{% endfor %}
					</form>
                </div>
			</div-->



			<div class="nav-item button">

				<a href="{% url 'first' %}"  class=" text-light fa fa-sign-in btn bg-primary dropdown-toggle sign-up-btn"> Logout</a>

			</div>

			<!--div class="nav-item dropdown">

				<a href="#" data-toggle="dropdown" class=" text-light fa fa-sign-in btn bg-primary dropdown-toggle sign-up-btn">  Sign up</a>
                <div class="dropdown-menu action-form">
					<form action="/examples/actions/confirmation.php" method="post">
						<p class="hint-text">Fill in this form to create your account!</p>
						<div class="form-group">
							{% csrf_token %}
							 {{form2.username}}
							<input type="text" class="form-control" placeholder="Username" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Password" required="required">
						</div>
						<div class="form-group">
							<input type="password" class="form-control" placeholder="Confirm Password" required="required">
						</div>
						<div class="form-group">
							<label class="form-check-label"><input type="checkbox" required="required"> I accept the <a href="#">Terms &amp; Conditions</a></label>
						</div>
						<input type="submit" class="btn btn-primary btn-block" value="Sign up">
					</form>
				</div>
			</div-->
        </div>
	</div>
</nav>

{% load static %}
<link href="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/css/select2.min.css" rel="stylesheet" />
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-rc.0/dist/js/select2.min.js"></script>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/js/select2.min.js" integrity="sha512-5+FrEmSijjxRArJWeLcCIEgoQYAgU0gSa9MgNMN+tVSS+MPZsEk9a7OkPZr7AzjNJng1Kl+tXOQVtJcsU+Ax0w==" crossorigin="anonymous"></script>
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/select2/4.0.12/css/select2.min.css" integrity="sha512-nMNlpuaDPrqlEls3IX/Q56H36qvBASwb3ipuo3MxeWbsQB1881ox0cRv7UPTgBlriqoynt35KjEwgGUeUXIPnw==" crossorigin="anonymous" />


 <style>
        #id_language {
            width: 20%;
        }
        #conteneur {
  height: auto; /* Par défaut. Prend la hauteur du contenu. */
  border: 3px solid black;

}
</style>


<main id="bg" class="navbar-fixed-top border border-secondary w-100 p-5
" style="background-image: url('{% static 'mysite/images/save.png' %}')" >

<!--div class="powr-paypal-donate-button" id="c06278c3_1611089789"></div><script src="https://www.powr.io/powr.js?platform=bootstrap"></script-->

  <div class="container mt-5 ">
      <center><div class="contaner-fluid" ></div>
            <b class="text-light bg-dark rounded w-25 p-1 col-sm-12 col-xs-12 col-sm-12">Youtube Video</b>
    </div></center>

<center class="container mt-5">


    <div class="container mt-5 d-flex justify-content-between  w-20 p-4" id="bg"  >
</div>
    <form class="w-100 p-3"  class="bg-dark text-light"  method="POST" placeholder="language" >
<center>
    <div class="container mt-3"></div>
  <input id="conteneur"  name="url" type="text" class=" form-control rounded " placeholder="Enter Youtube URL" style="width: 65%">
 <div class="container mt-4"></div>
 <h5 class="text-white ">Your Language:</h5>
 <!--div class="container-fluid col-xs-4 col-md-8 col-sm-12 "-->

              {% csrf_token %}
              {{ form.as_p }}

<!--/div-->
<input type="submit" class="bg-primary" value="Submit"/>
</center>
    </form>
<!-- Example split danger button -->

<!--dropdown></dropdown-->

<!--div class="input-group-append h-100 bg-light text-dark rounded-bottom">
        <div class="row justify-content-center align-items-center">
            <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="form-group">
                    <select class="mul-select" multiple="true">
                        <option value="Cambodia">Cambodia</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Thiland">Thiland</option>
                        <option value="Koren">Koren</option>
                        <option value="China">China</option>
                        <option value="English">English</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
           </div>
        </div>
</div-->

     <!--div input-group-append class="nav-item dropdown  ">

        <a class="nav-link dropdown-toggle text-light bg-dark row justify-content-center align-items-center" href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> Language</b>

         <div class="col col-sm-6 col-md-6 col-lg-4 col-xl-3">
                <div class="form-group">
                    <select class="mul-select" multiple="true">
                        <option value="Cambodia">Cambodia</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Thiland">Thiland</option>
                        <option value="Koren">Koren</option>
                        <option value="China">China</option>
                        <option value="English">English</option>
                        <option value="USA">USA</option>
                    </select>
                </div>
           </div>
          </a>
      </div-->
    <!--div input-group-append class="nav-item dropdown ">

        <a class="nav-link dropdown-toggle text-light bg-dark " href="#" id="Dropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
         <b> Language</b>
        </a>
        <div class="dropdown-menu col col-sm-6 col-md-6 col-lg-4 col-xl-3">
          <select class="mul-select" multiple="true">
                        <option value="Cambodia">Cambodia</option>
                        <option value="Khmer">Khmer</option>
                        <option value="Thiland">Thiland</option>
                        <option value="Koren">Koren</option>
                        <option value="China">China</option>
                        <option value="English">English</option>
                        <option value="USA">USA</option>
                    </select>

</div>
      </div-->
    <!--script>
        $(document).ready(function(){
            $(".mul-select").select2({
                    placeholder: "Language", //placeholder
                    tags: true,
                    tokenSeparators: ['/',',',';'," "]
                });
            })
    </script-->
<!--dropdown></dropdown-->
    <!--div input-group-append class="nav-item dropdown">
				<a href="#" data-toggle="dropdown" class="nav-item nav-link dropdown-toggle text-light bg-dark" role="button" aria-haspopup="true" aria-expanded="false">Language</a>

          <select class="mul-select dropdown-menu col col-sm-6 col-md-6 col-lg-4 col-xl-3" method="GET" multiple="true">

                        <option value="french" >french</option>
                        <option value="English">English</option>
                        <option value="Spanish">Spanish</option>
                        <option value="deutsch">deutsch</option>
                        <option value="USA">---</option>
                          </select>
  </div-->




    <!--div input-group-append class="w-100 p-3"  class="bg-dark text-light" action="{% url 'home' %}" method="POST" placeholder="language">
<div class="container mt-5"></div>

 <h5 class="text-white font-weight-bold">Your Language:</h5>

 <div class="container-fluid col-xs-4 col-md-8 col-sm-12 ">
          <center>
              {% csrf_token %}
              {{ form.as_p }}
          </center>
</div>
             <button type="submit" class="btn btn-primary">Submit</button>

    </div>




</div>


</div>
     <center> <div>
<input type="submit" value="Submit">
   </div></center>
  </form>

</center-->

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</main>



<hr>


<div>

<div class="container mt-5">
  <center>  <h3 class="text-light bg-dark w-50 p-2 rounded "> Guide</h3> </center>




<div class="container mt-5" ></div>
   <b>1--Enter the url of the youtube video to download</b>
    <br>
  <b>2--Choose your <a href="https://cloud.google.com/translate/docs/languages">language</a> with the dropdown button.</b>
     <br>
  <b>3--Click on button "submit"</b>
     <br>
    <c>
   <b>You will find the video that you wish to download here</b>
     <br>
  <b>4--Click on the download button corresponding to the resolution of the video you wish to obtain.</b>
 <br>
</div>

</div>





<!--script>
    $(document).ready(function()
    {
    $('#selectlanguage').select2();
    });
   </script-->




<!--select id="selectlanguage">
    <option selected disabled="true">--select languages--</option>
    {% for result in Languages %}
   <option> {{ result.title}}</option>
     {% endfor %}
</select-->


<!--p><label for="id_sujet">Sujet:</label> <input id="id_sujet" type="text" name="sujet" maxlength="100" /></p>
<p><label for="id_message">Message:</label> <textarea id="id_message" rows="10" cols="40" name="message"></textarea></p>
<p><label for="id_envoyeur">Votre adresse mail:</label> <input type="text" name="envoyeur" id="id_envoyeur" /></p>
<p><label for="id_renvoi">Renvoi:</label> <input type="checkbox" name="renvoi" id="id_renvoi" />
    <span class="helptext">Cochez si vous souhaitez obtenir une copie du mail envoyé.</span></p-->

    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->




<script src="https://code.jquery.com/jquery-3.5.1.min.js"
        integrity="sha256-9/aliU8dGd2tb6OSsuzixeV4y/faTqgFtohetphbbj0=" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/select2@4.1.0-beta.1/dist/js/select2.min.js"></script>


<script>
    $(document).ready(function () {
        $('#id_language').select2({
            ajax: {
                url: '{% url 'home' %}',
                dataType: 'json',
                processResults: function (data) {
                    return {
                        results: $.map(data, function (item) {
                            return {id: item.id, text: item.title};
                        })
                    };
                }
            },
            minimumInputLength: 1
        });
    });
</script>

<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.5.4/dist/umd/popper.min.js" integrity="sha384-q2kxQ16AaE6UbzuKqyBE9/u/KzioAlnx2maXQHiDX9d4/zp8Ok3f+M7DPm+Ib6IU" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.min.js" integrity="sha384-pQQkAEnwaBkjpqZ8RU1fF1AKtTcHJwFl3pblpTlHXybJjHpMYo79HY3hIi4NKxyj" crossorigin="anonymous"></script>


<div i class="mx-auto bg-light w-100 p-5 ">
</div>


<!--nav class="navbar navbar-expand-lg navbar-light bg-primary w-100 p-3">


    <a class="navbar-brand">Video Transcription</a>

        		<ul class="nav navbar-nav">
        			<li class="nav-item active">

        				<a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        			</li>

        			<li class="nav-item">
        				<a class="nav-link" href="#">Features</a>
        			</li>

        			<li class="nav-item">
        				<a class="nav-link" href="about">About</a>
        			</li>

        			<li class="nav-item">
        				<a class="nav-link" href="#">Contact Us</a>
        			</li>

				</ul>
					<a href="#" class="btn btn-primary facebook-btn  "><i class="fa fa-facebook"></i> Facebook</a>
	             <a href="#" class="btn btn-primary twitter-btn float-left"><i class="fa fa-twitter"></i> Twitter</a>



							<!--a href="#" class="btn btn-secondary facebook-btn float-right "><i class="fa fa-facebook"></i> Facebook</a-->

							<!--a href="#" class="btn bg-danger gmail-btn "><i class="fa fa-gmail"></i> Gmail</a-->
									<!--a href="#" class="btn btn-primary google-btn float-left"><i class="fa fa-google"></i> Google</a>

        	</nav-->







<div class="container mt-5  d-flex justify-content-between border border-secondary w-100 p-5" id="bg"  style="background-image: url('{% static 'mysite/images/ty.png' %}')" >
    <section class="">
      <div class="row d-flex justify-content-between">

        <div class="col-lg-2 col-md-12 mb-4 mb-md-0 w-150 p-3 my-3 rounded bg-primary" >
            <a href="languages" class="text-light"><h4>Download in any language</h4></a>
  <b>You can Download Youtube videos on your
  own language</b>
        </div>

  <div class="col-lg-2 col-md-12 mb-4 mb-md-0 w-150 p-3 my-3 rounded bg-primary">
      <a href="online" class="text-light"><h4>Real Time Youtube video Processing</h4></a>
     <b>For Video online(Youtube)</b>
     </div>

   <div class="col-lg-2 col-md-12 mb-4 mb-md-0 w-150 p-3 my-3 rounded bg-primary">
<a href="own" class="text-light"><h4>Translate your own Video</h4></a>
  <b>Upload your own video and get Translate version</b>
   </div>

      </div>
    </section>

</div>


<div class="container mt-5"></div>




<footer class="bg-primary text-dark" style="">
  <!-- Grid container -->
	<div class=" container mt-5">

 <a class="navbar-brand " href="https://www.powr.io/powr.js?platform=bootstrap">
    <img src="{% static 'P.png' %}" width="100" height="80" alt="" class="social rounded"/>
	   <a  class="navbar-brand font-weight-bold text-dark"> TransLoader</a>
  </a>
  <div class="container p-0 pb-0 text-center">
  <!-- Section: Social media -->
    <!--section class="mb-4"-->

      <!-- Facebook -->
      <a
        class="btn btn-primary btn-floating m-1 btn-youtube"
        style="background-color: #3b5998;"
        href="https://www.youtube.com/channel/UCalyckFAqUCmsOYLPhuzMbw/featured" role="button"><i class="fa fa-youtube"></i></a>

      <!-- Twitter -->
      <a
        class="btn btn-primary btn-floating m-1 btn-twitter"
        style="background-color: #55acee;"
        href="http://twitter.com/"
        role="button"
        ><i class="fa fa-twitter"></i
      ></a>

      <!-- Google -->


      <!-- Instagram -->
      <a
        class="btn btn-primary btn-social-icon btn-floating m-1  btn-instagram"
		style="background-color: #ac2bac;" href="https://www.instagram.com/sekpona27/" role="button"><i class="fa fa-instagram"></i></a>


      <!-- Linkedin -->
      <a class="btn btn-primary  btn-social-icon btn-facebook btn-floating m-1"
		 style="background-color: #0082ca;" href="https://www.facebook.com/kokousitsope.sekpona.7" role="button"><i class="fa fa-facebook"></i></a>
      <!-- Github -->
      <a
        class="btn btn-primary btn-floating m-1 btn-linkedin"
        style="background-color: #333333;" href="http://www.linkedin.com/in/sitsope-sekpona-240429208"
        role="button"><i class="fa fa-linkedin"></i></a>


  <!-- Grid container -->
 </div>
    </div>
  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    <p class="text-white">© More than 100 Languages required:</btext-white>
    <a class="text-white" href="https://cloud.google.com/translate/docs/languages">See Documentation</a>
  </div>
  <!-- Copyright -->
</footer>


</body>
</html>


