{% extends  'main.html' %}


{% block contenu %}

{% load static %}
<main id="bg" class="border border-secondary w-100 p-5
" style="background-image: url('{% static 'mysite/images/andrea.png' %}') " >

<div class="container mt-5 text-light d-flex justify-content-between  w-50 p-5" id="bg"   >
    <center>


<h2>This section is currently</h2>
    <h2>being processed.</h2>
    <h2> Please retry another time!</h2><center/>
</div>
<div class="mt-5">
      <div class="container mt-5"></div>
        <center>

    </div>

  <center class="container mt-5">

</center>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta1/dist/js/bootstrap.bundle.min.js" integrity="sha384-ygbV9kiqUc6oa4msXn9868pTtWMgiQaeYH7/t7LECLbyPA2x65Kgf80OJFdroafW" crossorigin="anonymous"></script>

</main>












<hr>


<div>

<div class="container mt-5">
  <center>  <h3 class="text-light bg-dark w-50 p-2 rounded "> Guide</h3> </center>



   <h5>1)-Get the button to add on youtube on click on button "Get Button"</h5>
  <h5>2)-Choose your language with the button </h5>
  <h5>3)-Click on the Download button according to the resolution you want and wait for to the final video.</h5>

</div>

</div>
    <!-- Optional JavaScript; choose one of the two! -->

    <!-- Option 1: Bootstrap Bundle with Popper -->


    <!-- Option 2: Separate Popper and Bootstrap JS -->




{% endblock %}
